@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans'), local('Bloggersans'),
		url('../fonts/Bloggersans.woff') format('woff'),
		url('../fonts/Bloggersans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans'), local('Bloggersansmedium'),
		url('../fonts/Bloggersansmedium.woff') format('woff'),
		url('../fonts/Bloggersansmedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans'), local('Bloggersansbold'),
		url('../fonts/Bloggersansbold.woff') format('woff'),
		url('../fonts/Bloggersansbold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), local('Roboto-Regular'),
		url('../fonts/Roboto.woff') format('woff'),
		url('../fonts/Roboto.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto Medium'),
		url('../fonts/Robotomedium.woff') format('woff'),
		url('../fonts/Robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}