
// ===================icons=====================

// ===================media=====================
$lg: 1200;
$md: 1280;
$sm: 768;

// $container:     83vw;
// $container-lg:  710px;
// $container-md:  93vw;


// ===================grid=====================
$min_width: 320px;
$tablet: 768px;
$max_width: 1840px;


// ===================colors=====================

$green:         #178041;
$red-dark:      #840705;
$red:           #DF2431;
$dark:          #333333;
$light-grey:    #E8E8E8;
$grey:          #828282;
$br : rgba(255, 255, 255, 0.2);
$yellow:          #FF9900;
$blue:          #FFF;





// ===================sizes=====================



// ===================fonts=====================
@mixin font-1{
    font-family: 'Blogger Sans', sans-serif;
}
@mixin font-2{
    font-family: 'Roboto', sans-serif;
}





// ========================mixin==============================

// how use
// @include fluid-type($min_width, $max_width, 12px, 16px);
// /how use

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
            & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}



@mixin text-limit($row) {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
}    

@mixin triangle($color){
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $color transparent transparent transparent;
}
//@mixin labelStyle{
//    display: block;
//    margin-bottom: 7px;
//    font-size: 14px;
//    color: #A1A1A1;
//    // ------------media-------------
//    @include w($md){
//        font-size: 12px;
//    }
//}
//@mixin inputStyle{
//    background: #FFFFFF;
//    border-radius: 4px;
//    width: 100%;
//    height: 48px;
//    padding: 15px 20px;
//    border: 1px solid #CCCCCC;
//    @include fixInputIOS;
//    &:focus{
//        border: 1px solid $dark;
//    }
//    // ------------media-------------
//    @include w($md){
//        font-size: 14px;
//    }
//}
@mixin fixInputIOS{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@mixin anyCardHover {
    transition: box-shadow .3s;
    // ------------off hover-------------
    @include offHoverOnDevices{
        &:hover{
            z-index: 1;
            box-shadow: 0px 8px 24px rgba(154, 156, 166, 0.3);
        }
    }
}

@mixin offScrollBar {
    
    // for chrome
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        border-radius: 0;
    }

    &::-webkit-scrollbar{
        width: 0;
        background-color: transparent;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(0,0,0,0);
        border-radius: 0;
    }
    //for firefox
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    scrollbar-width: none;
}

@mixin styleScrollBar($color-thumb,$color-track,$scrollbar-width) {
    overflow-y: auto;
    // for chrome
    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 $scrollbar-width rgba(0,0,0,0.3);
        background-color: $color-track;
        border-radius: 4px;
    }

    &::-webkit-scrollbar{
        width: $scrollbar-width;
        background-color: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $color-thumb;
        border-radius: 4px;
    }
    //for firefox
    scrollbar-color: $color-thumb $color-track;
    scrollbar-width: thin;
}

@mixin w($size, $sizeMin:0){
    @if ($sizeMin == 0){
        @media (max-width: $size - 0.02 +"px") { @content; }
    } @else {
        @media (min-width: $sizeMin + "px") and (max-width: $size - 0.02 +"px"){ @content; }
    }
}

@mixin h($size){
    @media (max-height: $size +"px") { @content; }
}

@mixin offHoverOnDevices {
    @media screen and (min-width: 1280px) {  @content;  }
}

@mixin tableColWidth($sizes...){
    @for $i from 0 to length($sizes) {
        &:nth-child(#{$i + 1}) {
            width: #{nth($sizes, $i + 1)}
        }
    }
}

@mixin minw($size) {
    @media (min-width: $size + "px") { @content; }
}

