
@import "_variables";

.category-page{

}
.product-list{
    padding: 20px 0;
}
.product-card{
    width: calc(50% - 10px);
    margin: 5px;
    background: #fff;
    color: $dark;
    padding: 9px;
    border-radius: 5px;
    @include font-2;

    &-img{
        width: 100%;
        height: 42vw;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name{
        font-weight: 500;
        font-size: 14px;
        line-height: (18/14);
    }
    &-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        &-left{
            .product-price{
                font-size: 15px;
                font-weight: bold;
            }
            .product-status{
                font-size: 10px;

            }
        }
        &-right{
            .btn-add-to-cart{
                background: $green;
                border-radius: 3px;
                width: 60px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}