@import "_variables";
.cms-group {
  background: #fff;
  color: #333;
  padding: 15px 0;

  .about-store__video {
    width: 100%;
    margin-top: 15px;
  }

  .cms-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .store-manager-pic {
    margin: auto;
    margin-bottom: 15px;
  }
  .rte p,
  h3 {
    padding-left: 15px;
    padding-bottom: 8px;
  }
}

