main#contact {
  background: #fff;
  color: #000000;
  padding: 10px 0;
  p.cms__heading{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    padding-top: 15px;
    margin-bottom: 10px;
  }
  p.cms__subheading {
  margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  .contact-us .icon  {
    width: 1.3em;
  }

  .icon:before {
      content: ' ';
      vertical-align: middle;
      display: inline-block;
      background-image: url(../images/svg.svg);
      background-repeat: no-repeat;
      background-size: 8em 214.9em;
    }
  .icon.icon-male-reporter:before {
    background-position: 0em -137.1em;
    width: 1.2em;
    height: 1.2em;

  }

  .icon.icon-email:before {
    background-position: 0em -57.5em;
    width: 1.2em;
    height: 1.2em;
  }

  .icon.icon-maps-and-flags:before {
    background-position: 0em -147.1em;
    width: 1.2em;
    height: 1.2em;
  }

  .icon.icon-phone-receiver:before {
    background-position: 0 -134.7em;
    width: 1.2em;
    height: 1.2em;
  }

  .icon.icon-mobile-phone:before {
    background-position: 0 -200.4em;
    width: 1.2em;
    height: 1.2em;
  }

  button.btn--toggle-map {
    background-color: rgba(26,163,82,.8);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
  }
  iframe {
    display: none;
  }
  .three-col-list {
    padding: 0;
  }
}


