@import "_variables";

.footer{
    background: $red-dark;
    color: #fff;
    .subscribe{
        background: $green;
        padding: 10px 0;
        &-form{
            display: flex;
            justify-content: center;
            padding: 0 20px;
            margin-bottom: 20px;
            @include font-2;
            &-input{
                height: 56px;
                border: 1px solid $br;
                color: #fff;
                padding: 15px;
                width: 100%;
            }
        }
        &-social{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-top: 1px solid #3C9860;
            padding: 10px 0;
            a{
                padding: 15px;
            }
        }
    }   
    .help{
        padding-top: 10px;
    }
    .contact{
        padding: 10px 20px;
        @include font-2;
        &-title{
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 30px;
            @include font-1;
        }
        &-item{
            display: flex;
            align-content: flex-start;
            margin-bottom: 15px;
            &-icon{
                flex-shrink: 0;
                margin-right: 15px;
                padding-top: 4px;
            }
            &-text{
                font-size: 14px;
                line-height: (22/14);
            }
        }
        .copyright{
            font-size: 14px;
            border-top: 1px solid $br;
            padding: 16px 0;
        }
    }
}

.subscribe:after,
.subscribe:before {

        content: "";
        display: block;
        height: 5px;
        background: #d7ae49;

}

.contact-link {
    display: block;
    padding: 8px 15px;
    padding-left: 35px;
    font-family: Comfortaabold,Arial,sans-serif;
    font-size: 15px;
    border-radius: 5px;

}

.contact-link--vb {
    background: url(../images/viber.svg) no-repeat 8px center/ 20px;
    background-color: #665eaa;
    color: #fff
}
.contact-link--msn {
    background: url(../images/messenger.svg) no-repeat 8px center/ 20px;
    background-color: #1787fb;
    color: #fff;
}

.contact-link--tg {
    background: url(../images/telegram.svg) no-repeat 8px center/ 20px;
    background-color: #259ddc;
    color: #fff;
}

.three-col-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    flex-direction: column;
    li {
        padding: 8px 0px;
    }
}

.subscribe__label {
    text-align: center;
    font-size: 1.5em;
    color: #f7e2df;
    margin-top: 10px;
}

.subscribe .title-2 {
    margin-bottom: 0;
}