@import "_variables";

.header{
    background: $green;
    color:#fff;
    position: relative;
    z-index: 2;
    &-main{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-back{
            display: none;
        }
        #cart_block{
            position: relative;
        }
        #cart_block_summary{
            position: absolute;
            top: -5px;
            right: -5px;
            background: #fff;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $green;
            
            span{
                font-weight: bold;
                color: $dark;
                font-size: 8px;
                @include font-2;
            }
        }
    }
    &-bottom{
        height: 60px;
        display: flex;
        align-self: center;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;
        border-top: 1px solid $br;
        a{
            font-size: 20px;
            display: flex;
            align-items: center;
            font-weight: bold;
            img{
                margin-right: 10px;
            }
        }
    }
    &-breadcrumbs{
        overflow-y: auto;
        flex-grow: 1;
        margin: 0 15px;
        @include font-2;
        display: none;
        .breadcrumbs{
            font-size: 12px;
            display: flex;
            white-space: nowrap;
            &-item {
                position: relative;
                display: inline-flex;
                align-items: center;
                a{
                    display: inline-flex;
                    span{
                        margin-left: 5px;
                    }
                }
                &::after{
                    content: "";
                    display: inline-flex;
                    width: 5px;
                    height: 100%;
                    background-color: inherit;
                    background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M0 5.295L2.29 3L0 0.705L0.705 0L3.705 3L0.705 6L0 5.295Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-repeat:no-repeat;
                    background-position: center;
                    background-size:contain;
                    margin: 0 .5em;
                }
                &.current {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &::after{
                        content: none;
                    }
                }
            }
        }

    }
    &.type-2{
        .header-breadcrumbs{
            display: block;
        }
        .header-main{
            height: 50px;
        }
        .header-bottom{
            display: none;
        }
        .header-logo{
            display: none;
        }
    }
}

.menu-btn{
    display: block;
    $size: 18px;
    position: relative;
    // top: 0;
    // left: 0;
    width: $size;
    height: $size;
    // background: $blue;
    cursor: pointer;
    // &.open .burger {
    //     background: transparent;
    //     box-shadow: 0 2px 5px transparent;
    // }
    
    // &.open .burger::before {
    //     top: 0;
    //     transform: rotate(45deg);
    // }
    
    // &.open .burger::after {
    //     top: 0;
    //     transform: rotate(135deg);
    // }
    $burger-w: 18px;
    $burger-h: 2px;
    .burger {
        width: $burger-w;
        height: $burger-h;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: .3s;
    }
    
    .burger::before, .burger::after {
        content: '';
        position: absolute;
        width: $burger-w;
        height: $burger-h;
        background: #fff;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: .3s;
    }
    
    .burger::before {
        top: -5px;
    }
    
    .burger::after {
        top: 5px;
    }
}


.accordion-item-content__phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #178041;
}

.header-bottom__contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.phone-block,
.accordion-item-title__phone{
    display: flex;
    padding: 10px 0;
}

.accordion-item-title__phone .icon {
    color: #fff;
    position: absolute;
    margin-top: 4px;
    right: 90px;
}

.accordion-item-content {
    width: 100%;
}

.header-bottom {
    height: auto;
}


.accordion-item-title.accordion-item--green.open > span,
.accordion-item-title.accordion-item--green > svg{
    color: #fff;
}
.accordion-item-content.accordion-item--green  span {
    font-weight: 500;
}

.accordion-item.accordion-item--green {
    background: #178041;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 10px 0;
}

.accordion-item-title.accordion-item--green{
    min-height: 32px;
    padding: 10px 0;
}

.accordion-item-content.accordion-item--green {
    padding-bottom: 0px;
}