@import "_variables";


.index-page{
    
}
.section-main{
    position: relative;
    p{
        text-align: center;
        @include font-2;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: (24/18);
    }
    &-slider{
        .swiper-slide{
            padding-top: 70px;
            padding-bottom: 250px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    }
    &-timer{
        // width: 100%;
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 15px;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #FF3131;
        border-radius: 5px;
        z-index: 10;
        height: 130px;
        &-title{
            text-align: center;
            padding: 13px 0;
        }
        .homepage-slider__countdown{
            display: flex;
            justify-content: center;
        }
    }
}
.countdown {
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #fff;
    @include font-2;
    margin: 0 7px;
    flex-shrink: 0;
	&__number {
		display: block;
		margin-top: 10px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
	}
	&__title {
        color: #fff;
        font-size: 10px;
        font-weight: 400;

	}
}
.section-tree-category{
    
}
.tree-card{
    width: 100%;
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    color: $dark;
    overflow: hidden;
    &-img{
        height: 54vw;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name{
        font-weight: 500;
        font-size: 20px;
        line-height: (22/20);
        margin-bottom: 8px;
        padding: 0 20px;
    }
    &-properties{
        @include font-2;
        padding: 0px 20px 20px 20px;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $light-grey;
            padding: 6px 0;
            span{
                font-size: 14px;
                line-height: 22px;
                &:first-child{
                    font-weight: 500;
                }
                &:last-child{
                    font-weight: 400;
                }
            }
        }
    }
}
.section-select-tree{

}
.section-accessories-category{

}
.accordion-item{
    &-title{
        span {
            font-weight: 500;
            font-size: 20px;
        }
        .icon{
        }
        &.open{
            span{
                color: $green;
            }
            .icon{
                transform: scaleY(-1);
            }
        }
    }
    &-content{
        padding-bottom: 10px;
        ul{
            &.check-list{
                list-style-image: url("../images/check.svg"); 
                li{
                    margin-left: 20px;
                    padding-left: 5px;
                    @include font-2;
                    font-weight: 500;
                    border:none;
                }
            }
            li{
                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: (22/14);
                    text-decoration-line: underline;
                }
            }
        }
    }
    &.accordion-item--red{
        background: $red-dark;
        color: #fff;
        .accordion-item-title{
            .icon{
                color: #fff;
            }
            &.open{
                span{
                    color: #fff;
                }
                
            }
        }
        .accordion-item-content{
            ul{
                li{
                    border:none;
                    a{
                        text-decoration: none;
                    }
                }
            }
            border-bottom: 1px solid $br;
        }
    }
}
.accessory-card{
    width: calc(50% - 10px);
    margin: 5px;
    margin-bottom: 15px;
    &-img{
        width: 100%;
        height: 47vw;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name{
        font-weight: 500;
        font-size: 16px;
        line-height: (18/16);
        text-align: center;
    }
}
.section-about{
    padding-bottom: 25px;
    p{
        @include font-2;
        color: #fff;
        font-size: 14px;
        line-height: (22/14);  
    }
}


.about-content-index {
    overflow: hidden;
    position: relative;

}

.hide {
    max-height: 160px;
}

p.about-content.about-content-index.hide:after {
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #840705 75%);
}
