@import "variables";

.product-page{
    .header{
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        .btn-back{
            display: block;
        }
        .menu-btn{
            display: none;
        }
        
        #cart_block_summary{
            border: 2px solid #000;
        }
    }
}
.product{
    padding-bottom: 30px;
    margin-top: -50px;
    &-box{
        margin-bottom: 10px;
        background: #fff;
        border-radius: 5px;
        color:$dark;
        padding: 20px;
        &-title{
            @include font-2;
            font-weight: 500;
            font-size: 14px;
            line-height: (22/14);
        }
    }
    &-gallery-slider{
        height: 460px;
        background: $red-dark;
        // margin-left: -15px;
        // margin-right: -15px;
        // overflow: hidden;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-main{
        position: relative;
        z-index: 1;
        margin-top: -100px;
        &-top{
            display: flex;
            justify-content: space-between;
            &-left{
                flex-shrink: 0;
                .product-price{
                    font-size: 30px;
                }
                .product-oldprice{
                    font-size: 22px;
                    color: #E0A9AD;;
                    text-decoration: line-through;
                }
            }
            &-right{
                .sale-title {
                    margin-left: 10px;
                    @include font-2;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: (22/14);
                }
                .product-countdown{
                    display: flex;
                    justify-content: center;
                }
                .countdown {
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    @include font-2;
                    margin: 0 ;
                    flex-shrink: 0;
                    &__number {
                        display: block;
                        margin-top: 10px;
                        color: $dark;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    &__title {
                        color: #BDBDBD;;
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
            }
        }
        &-info{
            p{
                @include font-2;
                font-size: 14px;
                line-height: (22/14);
                color: #4F4F4F;
            }
        }
        .title-2{
            color:$dark;
            text-align: left;
        }
        .title-3{

        }
        .product-properties{
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid $light-grey;
                padding: 6px 0;
                span{
                    font-size: 14px;
                    line-height: 22px;
                    &:first-child{
                        font-weight: 500;
                    }
                    &:last-child{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &-feedback{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-modal{
            display: none;
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            z-index: 10;
            background: #fff;
            &.open{
                display: block;
            }
            &-content{
                padding: 15px;
                overflow-y: auto;
                height: calc(100vh - 50px);
                .add-review{
                    margin-bottom: 30px;
                }
            }
            &-close{
                display: flex;
                align-items: center;
                height: 50px;
                background: $green;
                padding: 0 15px;
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                img{
                    margin-right: 10px;
                }
            }
        }
    }
    &-ask{
        &-title{
            @include font-2;
            font-weight: 500;
            font-size: 14px;
            line-height: (22/14);
        }
    }
    &-description{
        padding: 5px 0;
        &-item{
            display: flex;
            align-content: flex-start;
            padding: 10px 20px ;
            &:not(:last-child){
                border-bottom: 1px solid $light-grey;
            }
            &-img{
                flex-shrink: 0;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-right: 15px;
                margin-top: 5px;
            }
            &-text  {
                p{
                    @include font-2;
                    font-size: 14px;
                    line-height: (22/14);
                    &:first-child{
                        font-weight: 500;
                    }
                    &:last-child{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &-cheaper{
        &-formula{
            display: flex;
            align-items: center;
            margin-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #E0E0E0;
            span{
                font-size: 14px;
                margin: 0 10px;
                font-weight: bold;
                &:last-child{
                    font-size: 26px;
                }
            }
        }
        .formula-item{
            border: 1px solid #E0E0E0;
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            @include font-2;
            &-img{
                border: 1px solid #E0E0E0;
            }
            &-info{
                margin: 0 12px;
                p{
                    font-size: 14px;
                    &:last-child{
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
            &-button{
                background: $green;
                color: #fff;
                text-transform: uppercase;
                padding: 10px 15px;
                border-radius: 20px;
                font-weight: 500;
                font-size: 13px;
                text-align: center;
                letter-spacing: 1px;
            }
        }
    }
    &-reviews{
        &-head{
            display: flex;
            justify-content: space-between;
            align-items:center;
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid #E0E0E0;

            .title-3{
                margin: 0;
            }
            .rating{
                img{
                    width: 18px;
                }
            }
        }
        &-list{
        }
        &-rating{
            display: flex;
            margin-bottom: 15px;
            &-main{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p{
                    font-weight: bold;
                    font-size: 26px;
                    span{
                        font-size: 16px;
                    }
                }
                .reviews-value{
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 10px;
                }
               
            }
            &-list{
                padding-left: 5%;
                width: 100%;
                &-item{
                    display: flex;
                    align-items: center;
                }
            }
        }
        
    }
    .product-reviews-item{
        margin-bottom: 15px;
        padding-bottom: 15px;
        &:not(:last-child){
            border-bottom: 1px solid #E0E0E0;
        }
        &-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            p{
                font-weight: 500;
                font-size: 14px;
                @include font-2;
            }
            .rating-stars{
                img{
                    width: 14px;
                }
            }
        }
        &-body{
            margin-bottom: 12px;
            p{
                @include font-2;
                font-weight: normal;
                font-size: 14px;
                line-height: (21/14);
                color: #4F4F4F;
            }
        }
        &-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 10px;
            color: $grey;
            .reviews-action{
                display: flex;
                align-items: center;
                img{
                    margin-left: 15px;
                }
            }
        }
    }
    &-recommend{
        .product-slider{
            .swiper-container{
                padding-bottom:40px;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 100%;
                    background: none;
                    border: 1px solid #fff;
                    opacity: 1;
                    &.swiper-pagination-bullet-active{
                        background: #fff;
                    }
                }
            }
            .product-card{
                width: 100%;
                margin: 0;
            }
        }
    }
    &-buttons{
        position: sticky;
        bottom: 0;
        display: flex;
        z-index: 2;
        margin-left: -15px;
        margin-right: -15px;
        .buy-click-form{
            position: absolute;
            background: #fff;
            bottom: 100%;
            width: 100%;
            padding: 17px;
            padding-top: 10px;
            box-shadow: 0px -4px 5px 0px rgba(121, 121, 121, 0.5);
            visibility: hidden;
            transform: translateY(10px);
            opacity: 0;
            transition: .3s;
            z-index: -1;
            &.open{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                &~.buy-click{
                    width: 100%;
                }
                &~#buy_block{
                    display: none;
                }
            }
            &-close{
                height: 30px;
                width: 100%;
                text-align: center;
                padding-top: 5px;
                img{
                    margin: 0 auto;
                }
            }
        }
        .product-btn{
            width: 50%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #add_to_cart{
            width: 100%;
            height: 100%;
        }
        .add-to-cart{
            background-color:#C8EFD8;
            color: $green;
            width: 100%;
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 13px;
            @include font-2;
            img{
                margin-right: 8px;
            }
        }
        .buy-click{
            background-color:$green;
            color: #fff;
            text-transform: uppercase;
            @include font-2;
            font-size: 13px;
        }
    }
    .form-item{
        font-size: 14px;
        letter-spacing: 0.15px;
        color: #4F4F4F;
        @include font-2;
        padding: 15px;
        border: 1px solid #BDBDBD;
        width: 100%;
        margin-bottom: 10px;
    }
    .form-add-review{
        padding-top: 5px;
        .evaluation{
            margin-bottom: 20px;
            p{
                font-weight: 500;
                font-size: 14px;
                margin-right: 10px;
            }
            display: flex;
        }
        
        textarea.form-item{
            min-height: 150px;
        }
        
    }
    .rating-progress{
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding-left: 10px;
        &-bar{
            position: relative;
            width: 100%;
            background: #EAEAEA;
            height: 2px;
            &-inner{
                background: $yellow;
                height: 100%;
                position: absolute;
                left: 0;
            }
        }
        &-value{
            font-size: 10px;
            color: $grey;
            width: 20px;
            text-align: right;
        }
    }
    .add-review{
        margin-top: 20px;
        @include font-2;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green;
        color: #fff;
        height: 36px;
        width: 100%;
        border-radius: 20px;
    }
}
.link{
    @include font-2;
    color: $green;
    font-weight: normal;
    font-size: 14px;
    line-height: (22/14);
    text-decoration-line: underline;
}
.rating{
    display: flex;
    align-items: center;
    @include font-2;
    &-value{
        font-weight: bold;
        font-size: 14px;
        margin-right: 5px;
        padding-top: 4px;
    }
    &-stars{
        display: flex;
        align-items: center;
    }
}