@import "_variables";
.sitemap-group {
  background: #fff;
  color: #333;
  padding: 15px 0;

  ul.sitemap-list {
    display: flex;
    flex-wrap: wrap;
      li {
        flex: 0 0 50%;
        ul {
        margin-left: 25px;
        list-style: disc;
          li {
            font-weight: normal;
            font-size: 16px;
            line-height: 1.2;

          }
        }
      }
  }


}