include ./_mixins
include ./_data

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        +metahead

        title rizdvo
        include ./_styles
        link(rel="stylesheet", href="./css/cms.min.css")

    body(id="cms-page").cms-page
        +header

        main(id="cms")
            section.section-filter
                .container
                    .filter
                        .filter-header
                            .title-2 О нас
            section.cms-group
                .rte
                    p
                        img(class="store-manager-pic" src="https://rizdvo.ua.prestashop-freelance.com/img/cms/store-manager.jpg" alt="Директор магазина Рождество Кравец А.")
                    p Мы предлагаем искусственные ели украинского производителя всех размеров, разных цветов и фактуры — от самых оптимальных до премиум-класса.
                    p В нашей коллекции представлены деревца высотой от 45 до 500 см. Все ели изготовлены из пожароустойчивого материала, чтобы исключить внезапное возгорание от электрических гирлянд. Вся наша продукция имеет санитарно-эпидемиологическое заключение о безопасности, что очень важно, если в семье есть малыши.
                    p Наши менеджеры помогут вам подобрать наиболее подходящий вариант ели для своей семьи, в подарок друзьям, для офиса или городского праздника.
                    p rizdvo.ua.prestashop-freelance.com – официальный розничный сайт торговой марки Фабрика "Різдво".
                    div
                        iframe(width="806" height="480" class="about-store__video" src="https://www.youtube.com/embed/qAUoyp2ITkk?rel=0&amp;showinfo=0" title="Фабрика Рождество- искусственные елки оптом от украинского производителя")
                    p
                    h3(class="title-3 cms__subheading") Реквизиты
                    p ФЛП Кравец А.А. Дата и номер записи в Едином государственном реестре юридических лиц и физических лиц-предпринимателей о проведении государственной регистрации: 26.03.2008, № 22240000000054622.
                    p ПАО КБ «ПриватБанк», р/с 26006050287773, МФО305299, ИНН 2977006750

                    h3(class="title-3 cms__subheading")  Документы
                    ul(class="three-col-list cms-list")
                        li
                            a(href="https://rizdvo.ua.prestashop-freelance.com/img/cms/doc/certificate.pdf" target="_blank")
                                img(src="https://rizdvo.ua.prestashop-freelance.com/img/cms/certificate.jpg" alt="сертификат безопасности" width="160" height="230")
                        li
                            a(href="https://rizdvo.ua.prestashop-freelance.com/img/cms/doc/tmrizdvo.pdf" target="_blank")
                                img(src="https://rizdvo.ua.prestashop-freelance.com/img/cms/imgtm160.jpg" alt="сертификат регистрации тм rizdvo" width="160" height="230")
                        li
                            a(href="https://rizdvo.ua.prestashop-freelance.com/img/cms/doc/dstu1724.pdf" target="_blank")
                                img(src="https://rizdvo.ua.prestashop-freelance.com/img/cms/imgdstu160.jpg" alt="дсту 1724-92" width="160" height="230")
        +menu
        +footer
        include ./_scripts
        script(src="./js/menu.js")
        script(src="./js/main-slider.js")
        script(src="./js/main.js")
