include ./_mixins
include ./_data

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        +metahead
        title rizdvo
        include ./_styles
        link(rel="stylesheet", href="./css/contact.min.css")

    body(id="index-page").index-page
        +header
        section.section-filter
            .container
                .filter
                    .filter-header
                        .title-2 Карта сайта
        main#contact
                .contact-us.container
                    p.cms__heading.cms__heading--left
                        span.icon.icon-male-reporter(aria-hidden="true")
                        | Консультации и&nbsp;заказ по&nbsp;телефонам
                    ul.two-col-list
                        li
                            p.cms__subheading График работы Call-центра
                            p Пн-Пт: с&nbsp;8:00 до&nbsp;20:00
                            p Cб-Вс: с&nbsp;9:00 до&nbsp;17:00
                        li
                            p.cms__subheading &nbsp;
                            p
                                span.icon.icon-phone-receiver(aria-hidden="true")
                                a(href="tel:+380679858500") +38 (067) 985 85 00
                            p
                                span.icon.icon-mobile-phone(aria-hidden="true")
                                a(href="tel:+380509125257") +38 (050) 912 52 57
                    p.cms__heading.cms__heading--left
                        span.icon.icon-email(aria-hidden="true")
                        | E-mail
                    ul.three-col-list
                        li
                            p.cms__subheading Служба поддержки
                            p По&nbsp;всем вопросам касательно товаров или заказов
                            p
                                a(href="mailto:info@cristmas.com.ua") info@cristmas.com.ua
                        li
                            p.cms__subheading Сотрудничество
                            p Вопросы касательно сотрудничества
                            p
                                a(href="mailto:partner@cristmas.com.ua") partner@cristmas.com.ua
                        li
                            p.cms__subheading Администрация
                            p Жалобы и&nbsp;предложения
                            p
                                a(href="mailto:kravets@cristmas.com.ua") kravets@cristmas.com.ua
                    p.cms__heading.cms__heading--left
                        span.icon.icon-maps-and-flags(aria-hidden="true")
                        | Местоположение
                    ul.two-col-list
                        li
                            p.cms__subheading Выставочный зал
                            button.btn.btn--green.btn--toggle-map.accordion-item-btn-1 показать на&nbsp;карте
                        li
                            p г. Днепр, пр. Слобожанский&nbsp;44, офис 200
                            p Пн-Пт: с&nbsp;9:00 до&nbsp;19:00
                            p Cб-Вс: с&nbsp;9:00 до&nbsp;15:00
                    iframe.contact-us__map.accordion-item-map-1(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1111.38426638387!2d35.075422698795855!3d48.50769702591062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d95863fd9da121%3A0x99d07ecc910c288d!2z0L_RgNC-0YHQv9C10LrRgiDQodC70L7QsdC-0LbQsNC90YHRjNC60LjQuSwgNDQsIDIwMCwg0JTQvdGW0L_RgNC-zIEsINCU0L3RltC_0YDQvtC_0LXRgtGA0L7QstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA0OTAwMA!5e0!3m2!1sru!2sua!4v1530825663281" width="100%" height="450" allowfullscreen)
                    ul.two-col-list
                        li
                            p.cms__subheading Склад
                            button.btn.btn--green.btn--toggle-map.accordion-item-btn-2  показать на&nbsp;карте
                        li
                            p г. Днепр, ул. Тверская, 1
                            p Пн-Пт: с&nbsp;9:00 до&nbsp;17:00
                    iframe.contact-us__map.accordion-item-map-2(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2643.360656752067!2d35.07596871566195!3d48.507150579254606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d95866a58ddff5%3A0xe100b72f95d9340e!2z0LLRg9C70LjRhtGPINCi0LLQtdGA0YHRjNC60LAsIDEsINCU0L3RltC_0YDQvsyBLCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1530825785497" width="100%" height="450" allowfullscreen)
                    ul.two-col-list
                        li
                            p.cms__subheading Производство
                            button.btn.btn--green.btn--toggle-map.accordion-item-btn-3  показать на&nbsp;карте
                        li
                            p Днепропетровская область, Магдалиновский район, село Першотравенка, ул.&nbsp;40&nbsp;лет Победы, 8А
                    iframe.contact-us__map.accordion-item-map-3(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.701800535637!2d34.79320431567183!3d48.78758297928057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d9708c00000075%3A0x92202f7879794123!2z0JjRgdC60YPRgdGB0YLQstC10L3QvdGL0LUg0LXQu9C60Lgg0L7Qv9GC0L7QvCDQvtGCINC_0YDQvtC40LfQstC-0LTQuNGC0LXQu9GPIC0g0LfQsNCy0L7QtCAi0KTQsNCx0YDQuNC60LAg0KDQvtC20LTQtdGB0YLQstC-Ig!5e0!3m2!1sru!2sua!4v1530825867423" width="100%" height="450" allowfullscreen)
        +menu
        +footer
        include ./_scripts
        script(src="./js/menu.js")
        script(src="./js/main-slider.js")
        script(src="./js/main.js")