include ./_mixins
include ./_data

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        +metahead
        title rizdvo
        include ./_styles
        link(rel="stylesheet", href="./css/site-map.min.css")

    body(id="sitemap-page").sitemap-page
        +header

    main(id="sitemap")
        section.section-filter
            .container
                .filter
                    .filter-header
                        .title-2 Карта сайта
        section.sitemap-group
            .container
                ul.sitemap-list
                    -for(var i=0;i<3;i++)
                        li.title-3 Литые
                            ul
                                -for(var j=0;j<6;j++)
                                    li
                                        a(href="#") Новогодние игрушки
        +menu
        +footer
        include ./_scripts
        script(src="./js/menu.js")
        script(src="./js/main.js")
